.close-modal__button{
    height: 3rem;
    aspect-ratio: 1;
    position: absolute;
}

.close-modal__button-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--error-color);
}

