.reset-password__main{
    width: 100%;
    min-height: calc(100vh - 3rem);
    display: grid;
    place-content: center;
    padding: 2rem;
}

.reset-password__card{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: var(--element-color-1);
    border: 1px solid var(--outline-color-1);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 6px var(--outline-color-1);
}

.reset-password__header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 1rem;
}

.reset-password__heading{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color-1);
}

.reset-password__the-email{
    width: 100%;
    padding-block: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-color-1);
    text-align: center;
}

.reset-password__information{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-color-1);
}

.reset-password__links{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}