.post-component__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    border: 1px solid var(--outline-color-1);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--outline-color-1);
}

.post-component__info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.post-component__info--top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-component__info--left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.post-component__author-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-color-1);
    cursor: pointer;
}

.post-component__created-on{
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text-color-1);
}

.post-component__info--bottom{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.post-component__title{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color-1);
}

.post-component__content{
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-color-1);
}

.post-component__options-group{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.post-component__option{
    width: 100%;
    padding-inline: 1rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--element-color-1);
    user-select: none;
    cursor: pointer;
}

body.light .post-component__option:hover{
    filter: brightness(0.9);
}

body.light .post-component__option:active{
    filter: brightness(0.8);
}

body.dark .post-component__option:hover{
    filter: brightness(1.25);
}

body.dark .post-component__option:active{
    filter: brightness(1.5);
}

.post-component__option--danger{
    color: var(--error-color);
}

.post-component__option__title{
    font-size: 1.25rem;
    color: var(--text-color-1);
    font-weight: 600;
}

.post-component__option--danger 
.post-component__option__title{
    color: var(--error-color);
}

.post-component__option__icon{
    color: var(--text-color-1);
}

.post-component__option--danger 
.post-component__option__icon{
    color: var(--error-color);
}

.post-component__edit-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.post-component__edit-form{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.post-component__edit-form__header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.post-component__edit-form__heading{
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--text-color-1);
}

.post-component__edit-form__buttons{
    display: grid;
    grid-template-columns: 150px 150px;
    gap: 0.5rem;
    margin-top: 2rem;
}


