@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    min-width: 0;
    font-family: "Titillium Web", sans-serif;
}

body, html, #root{
    width: 100%;
    min-height: 100vh;
}

body.light{
    --background-color: hsl(0, 0%, 100%);
    --element-color-1: hsl(0, 0%, 100%);
    --outline-color-1: hsla(0, 0%, 14%, 0.313);
    --text-color-1: hsl(0, 0%, 0%);
    --error-color: hsl(348, 68%, 47%);
    --link-color: blue;
}

body.dark{
    --background-color: hsl(0, 0%, 15%);
    --element-color-1: hsl(0, 0%, 15%);
    --outline-color-1: hsla(0, 0%, 64%, 0.313);
    --text-color-1: hsl(0, 0%, 100%);
    --error-color: hsl(348, 98%, 66%);
    --link-color: rgb(93, 93, 255);
}

body{
    --element-color-2: hsl(220, 100%, 50%);
    --element-color-3: rgb(205, 0, 0);
    --element-color-4: hsl(120, 100%, 40%);
    --text-color-2: hsl(0, 0%, 100%);
    --outline-color-2: hsla(240, 100%, 6%, 0.35);
    --outline-color-3: rgba(52, 0, 0, 0.499);
    background-color: var(--background-color);
}

.btn{
    appearance: none;
    outline: none;
    border: none;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}

.link{
    color: var(--link-color);
    font-weight: 600;
    font-size: 1.25rem;
    text-decoration: none;
}

.link--small{
    font-size: 1.1rem;
    text-align: center;
}

.project--form__input-container{
    width: 100%;
}

.project--form__checkbox-container{
    margin-top: 2rem;
    width: 100%;
}

.project--form__submit-container{
    width: 100%;
    margin-top: 2rem;
}

.project--form__submit-container-2{
    width: 100%;
    margin-top: 0.5rem;
}

.admin__give-admin{
    max-width: 200px;
}

.modal__container{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.579);
    z-index: 999;
}

.modal__shadow{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.modal{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center top;
    animation: modalSizeIn 200ms linear 0ms forwards;
}

@keyframes modalSizeIn {
    from{
        transform: translate(-50%, -50%) scale(0);
    }to{
        transform: translate(-50%, -50%) scale(1);
    }
}

.marked{
    font-weight: 600;
    color: var(--link-color);
}